body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 28px;
    line-height: 1,6;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: blue;
}

h2 {
    text-align: left;
    font-size: 45px;
    margin-top: 40px;
    color: blue;
}

h3 {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    color: blue;
}

h4 {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    color: blue;
}

p { font-size: 22px;
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    color: blue;
}

h6 {
    text-align:center;
    font-size: 45px;
    margin-top: 40px;
    color: blue;
}

body {
    background-image: url(fondo5.jpeg);
    background-size: 100% auto;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    
}

p {
    font-size: 40px;
    font-weight: bold;
    font-weight: 700;

}

nav {
    text-align: center;
}

nav a {
    margin: 0 15px;
font-weight: bold;
text-decoration: none;
}

li {text-align: left;
}

.titulo-extra {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}
ol {
    font-size: 45px;
}